.checkout-wrapper{
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 50vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    z-index: 3; 
    display: flex;
    top: 20%;
    left: 25%;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    flex-direction: column;
}

.toggle-div, .toggle-btn, .cart-table, .head-row, .cell{
    z-index: 5;
}

.cell{
    color: black;
    padding: .25rem;
}