

.form-container{
    /* background-color: aquamarine; */
    height: 92vh;
    display:flex;
    justify-content: center;
    align-items: center;
}


.form-head-container{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 4px 0px 0px 4px;
}

.form-head{
    transform: rotateZ(-90deg);
    font-size: 50px;
}

.form-wrapper{
    display: flex;
    /* justify-content: center; */
    /* align-items: cent/er; */
}

.main-form{
    /* background-color: blue; */
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0px 4px 4px 0px;
    border: 3px solid black;
    border-left: 0px;
    align-items: center;
    justify-content: center;
}
.main-form-login{
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border-radius: 0px 4px 4px 0px;
    border: 3px solid black;
    border-left: 0px;
    align-items: center;
    justify-content: center;
}

.inputs{
    padding: .75rem;
    margin: .5rem;
    border-radius: 2px;
    border: none;
    color: black;
    outline: black solid 1px;
    width: 90%;
}

.form-btn{
    background-color: black;
    color: white;
    transition: all ease-in-out .1s;
    width: 100%;

}

.form-btn:hover{
    background-color: white;
    color: black;
    transition: all ease-in-out .1s;
}

.inputs:focus{
    outline: black solid 2px;
}

.login{
    height: 60%;
}

.dont-have{
    color: black;
    text-decoration: none;
    font-size: 14px;
}